<p>list-clinic-history works!</p>
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Fichas Clínicas</span>
            <button class="btn btn-dark btn-lg float-right">Agregar</button>
            <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>empty</th>
                    <th>cueck</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Fabian</td>
                    <td>Pavéz</td>
                    <td>empty</td>
                    <td>
                      <i class="fa-solid fa-pen-to-square"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Bnejamín</td>
                    <td>Urra</td>
                    <td>empty</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Coquito</td>
                    <td>Killer</td>
                    <td>empty</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>