/* Estilo general para el cuerpo de la página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff; /* Celeste claro */
    color: #333; /* Color de texto principal */
  }
  
  /* Estilo para el encabezado */
  header {
    background-color: #87ceeb; /* Celeste medio */
    padding: 20px;
  }
  
  /* Estilo para la sección de servicios */
  #services {
    background-color: #add8e6; /* Celeste claro */
    padding: 50px 0;
  }
  
  /* Estilo para la sección del equipo */
  #team {
    background-color: #b0e0e6; /* Celeste claro */
    padding: 50px 0;
  }
  
  /* Estilo para la sección de precios */
  #pricing {
    background-color: #cae1ff; /* Celeste claro */
    padding: 50px 0;
  }
  
  /* Estilo para la sección de contacto */
  section.section-padded.blue-bg {
    background-color: #87cefa; /* Celeste medio */
    padding: 50px 0;
  }
  
  /* Estilo para el pie de página */
  footer {
    background-color: #87cefa; /* Celeste medio */
    padding: 20px;
  }
  
  /* Estilo para los botones */
  .btn, .btn-blue-fill, .btn-submit, .trial-button {
    background-color: #87cefa; /* Celeste medio */
    color: #fff; /* Texto blanco */
  }
  
  /* Estilo para los enlaces */
  a {
    color: #4169e1; /* Azul real */
  }
  
  /* Estilo para el menú de navegación */
  .navbar {
    background-color: #add8e6; /* Celeste claro */
  }
  
  /* Estilo para el menú de navegación - enlaces */
  .navbar-nav > li > a {
    color: #4169e1; /* Azul real */
  }
  
  /* Estilo para el preloader */
  .preloader {
    background-color: #87cefa; /* Celeste medio */
  }
  
  /* Estilo para el formulario emergente */
  .modal-popup {
    background-color: #87cefa; /* Celeste medio */
    color: #fff; /* Texto blanco */
  }
  
  /* Estilo para el formulario emergente - botón de cierre */
  .close-link {
    color: #fff; /* Texto blanco */
  }
  
  /* Estilo para el formulario emergente - casilla de verificación */
  .checkbox-holder {
    color: #fff; /* Texto blanco */
  }
  
  /* Estilo para el formulario emergente - lista desplegable */
  .dropdown {
    background-color: #add8e6; /* Celeste claro */
    color: #333; /* Texto principal */
  }
  
  /* Estilo para el formulario emergente - lista desplegable - elementos */
  .dropdown-menu li a {
    color: #333; /* Texto principal */
  }
  