@import "@angular/material/prebuilt-themes/indigo-pink.css";
body{
    background-color: aquamarine;
}
.fc-h-event .fc-event-title-container {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0px;
    width: 15px;
}